volumes/mongodb/*
!volumes/mongodb/.gitkeep

volumes/automation_tmp/*
!volumes/automation_tmp/.gitkeep

config.json
**/__pycache__/
credentials.json

backend/node_modules
backend/package-lock.json
backend/dist
backend/*.tsbuildinfo

frontend/node_modules
frontend/.next
frontend/package-lock.json

**/.env.local
**/.env.*.local
**/.env
.env

docs/_build/
docs/_autosummary/
