volumes/mongodb/*
!volumes/mongodb/.gitkeep
./config.json
**/__pycache__/
/credentials.json
backend/node_modules
backend/package-lock.json
backend/dist
backend/*.tsbuildinfo
frontend/node_modules
frontend/.next
frontend/src/config.json
frontend/package-lock.json
**/.env.local
**/.env.*.local
**/.env
.env
