version: '3.9'
services:
  mimosa-backend:
    build:
      context: .
      dockerfile: "./backend/Dockerfile"
    env_file: .env
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - mongo
    environment:
      - DOMAIN=${DOMAIN}
      - BACKEND_PORT=${BACKEND_PORT}

  mimosa-frontend:
    build:
      context: .
      dockerfile: "./frontend/Dockerfile"
      args:  
        DOMAIN: ${DOMAIN}
        BACKEND_PORT: ${BACKEND_PORT}
        BONSAI_PORT: ${BONSAI_PORT}
    env_file: .env
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    environment:
      - NEXT_TELEMETRY_DISABLED=1
      - DOMAIN=${DOMAIN}
      - BACKEND_PORT=${BACKEND_PORT}
      - FRONTEND_PORT=${FRONTEND_PORT}  
      - BONSAI_PORT=${BONSAI_PORT}

  mongo:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - "./volumes/mongodb:/data/db"

  reportree:
    image: insapathogenomics/reportree:v2.5.4
    restart: always

