.custom-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.sidebar-header {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 0;
}

.p-sidebar .p-sidebar-header {
  padding: 0 !important;
}

.scrollable-content {
  overflow-y: auto;
  padding: 20px;
}

.fixed-area {
  background: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar-title {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.fieldset-content {
  text-align: left;
}
